$image-placeholder-loading: $unit * 2.4 !default;
$image-placeholder-loading-background: $color-background !default;
$image-placeholder-loading-border-width: $unit * 0.45 !default;
$image-placeholder-loading-border: $color-primary-light !default;
$image-placeholder-loading-border-spinner: $color-primary-dark !default;
