@import "node_modules/tachyons-sass/tachyons";
@import "../colors";
@import "../globals";
@import "./config";

.overlay {
  @extend .fixed;
  @extend .absolute--fill;
  z-index: $z-index-highest;
  @extend .flex;
  @extend .flex-row;
  @extend .content-center;
  @extend .justify-center;
  @extend .items-center;
  width: 100vw;
  @extend .vh-100;
  pointer-events: none;
  &.invisible {
    > *:not(.backdrop) {
      pointer-events: all;
    }
  }
}

.backdrop {
  @extend .absolute;
  @extend .absolute--fill;
  @extend .h-100;
  @extend .w-100;
  background-color: $overlay-color;
  @extend .o-0;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: opacity;
}

.active {
  pointer-events: all;
  > .backdrop {
    @extend .o-60;
  }
}
