@import "../colors";
@import "../globals";
@import "../mixins";
@import "./config";

.appBar {
  display: flex;
  height: $appbar-height;
  align-items: center;
  padding: 0 $appbar-h-padding;
  color: $appbar-contrast;
  background: $appbar-color;
  z-index: $z-index-high;

  @media #{$layout-till-phone} and (orientation: portrait) {
    height: $appbar-height-m-portrait;
  }

  @media #{$layout-till-phablet} and (orientation: landscape) {
    height: $appbar-height-m-landscape;
  }

  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-highest;
  }

  a {
    color: $appbar-contrast;
  }

  .title {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .leftIcon,
  .rightIcon {
    color: $appbar-icon-color;
    border: 0;
  }

  .leftIcon {
    margin-left: -1.2 * $unit;
    & + .title {
      margin-left: 1.2 * $unit;
    }
  }

  .rightIcon {
    margin-right: -1.2 * $unit;
    margin-left: auto;
  }

  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration;
  transition-property: transform;

  &.scrollHide {
    transform: translateY(-100%);
  }
}
