$dialog-color-title: $color-tertiary !default;
$dialog-color-white: $palatte-white !default;
$dialog-translate-y: 4 * $unit !default;
$dialog-content-padding: 2.4 * $unit !default;
$dialog-navigation-padding: .8 * $unit !default;
