@import "../colors";
@import "../globals";
@import "../mixins";
@import "./config";

.button {
  position: relative;
  > input {
    position: absolute;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
  }
}

%button {
  @include typo-button();
  position: relative;
  display: block;
  min-height: $button-height;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-style:solid;
  border-width:2px;
  font-weight:600;
  border-color: transparent;
  z-index: 0;
  background-color: transparent;
  transition: background-color .2s $animation-curve-default, color .2s $animation-curve-default;
  &::-moz-focus-inner {
    display: block;
  }
  > span:not([data-react-zvui-framework="tooltip"]) {
    display: inline-block;
    vertical-align: top;
  }
  > svg {
    display: inline-block;
    width: 1em;
    min-height: $button-height;
    font-size: 120%;
    vertical-align: top;
    fill: currentColor;
  }
  > * {
    pointer-events: none;
  }
  &[disabled] {
    color: $button-disabled-text-color;
    border-color: $button-disabled-background-color;
    pointer-events: none;
    cursor: auto;
  }
  &:before {
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s $animation-curve-default;
  }
  &:hover {
    opacity: 1;
    &:before {
      transform: scaleX(1);
    }
  }
}

%squared {
  min-width: $button-squared-min-width;
  table-layout:fixed;
  width:100%;
  padding: $button-squared-padding;
  .icon {
    font-size: 120%;
    margin-right: .5 * $unit;
    vertical-align: middle !important;
  }
  > svg {
    margin-right: .5 * $unit;
  }
}

%solid {
  &[disabled] {
    background-color: $button-disabled-background-color;
  }
}

.button {
  @extend %button;
  @extend %solid;
  @extend %squared;
}

.toggle,
.floating {
  @extend %button;
  display: inline-block;
  border-radius: 50%;
  &:before {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 50%;
    transform-origin: 50%;
    transform: scale(0);
  }
  &:hover {
    &:before {
      transform: scale(1);
    }
  }
}

.toggle {
  width: $button-height;
  background-color: transparent;
  border: none;
  > .icon, svg {
    font-size: $button-toggle-font-size;
    line-height: $button-height;
    vertical-align: top;
  }
}

.floating {
  @extend %solid;
  width: $button-floating-height;
  min-height: $button-floating-height;
  font-size: $button-floating-font-size;
  box-shadow: $zdepth-shadow-1;
  .icon {
    line-height: $button-floating-height;
  }
}

.inline {
  display: inline-block;
  width: auto;
  min-height: $button-height-inline;
  padding: 3px 10px;
  font-size: $unit;
}

.tertiary {
  color: $button-tertiary-text-color;
  border-color: $button-tertiary-color;
  &:before {
    background-color: $button-tertiary-color-hover;
  }
  &:hover {
    color: $button-tertiary-text-color-hover;
  }
}

.primary {
  color: $button-primary-text-color;
  border-color: $button-primary-color;
  background-color: $button-primary-color;
  &:hover {
    border-color: $button-primary-color-hover;
  }
  &:before {
    background-color: $button-primary-color-hover;
  }
}

.secondary {
  color: $button-primary-color;
  border-color: $button-primary-color;
  &:hover {
    color: $button-primary-text-color;
    border-color: $button-primary-color-hover;
  }
  &:before {
    background-color: $button-primary-color-hover;
  }
}

.inverse {
  background-color: $button-inverse-color;
  border-color: transparent;
  &:hover {
    color: $button-tertiary-text-color;
  }
  &:before {
    background-color: $button-inverse-color-hover;
  }
}
