$tooltip-background: $color-primary-light !default;
$tooltip-margin: 0.5 * $unit !default;
$tooltip-border-color: $color-primary-dark !default;
$tooltip-color: $color-text !default;
$tooltip-font-size: $unit * 1.2 !default;
$tooltip-max-width: 20 * $unit !default;
$tooltip-padding: $unit !default;
$tooltip-animation-duration: 200ms !default;
