$palette-light-black: #1a1a1a;

$palette-deep-orange: rgb(255,105,0);
$palette-deep-orange-contrast: rgb(230, 96,0);

$palette-deep-black: rgb(64,64,64);
$palette-deep-black-contrast: rgb(221, 221, 221);

$color-black: rgb(0,0,0);
$color-white: rgb(255,255,255);
