// -- Color
$color-background: $color-white !default;
$color-text: $palette-deep-black !default;
$color-text-secondary: $palette-deep-black-contrast !default;


$color-primary: $palette-deep-orange !default;
$color-primary-dark: $palette-deep-orange-contrast !default;
$color-tertiary: $palette-deep-black !default;
$color-tertiary-contrast: $palette-deep-black-contrast !default;

//-- Sizing
$unit: 1rem !default;

// -- Fonts
$preferred-font: "Open Sans", sans-serif !default;
$font-size: 1.6 * $unit !default;
$font-size-tiny: 1.2 * $unit !default;
$font-size-small: 1.4 * $unit !default;
$font-size-normal: $font-size !default;
$font-size-big: 1.8 * $unit !default;
$font-weight-thin: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;

//-- Animation
$animation-duration: .35s;
$animation-delay: $animation-duration / 5;
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;

//-- Indexes
$z-index-highest: 300 !default;
$z-index-higher: 200 !default;
$z-index-high: 100 !default;
$z-index-normal: 1 !default;
$z-index-low: -100 !default;
$z-index-lower: -200 !default;
